interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v1/finance/search?q=bytedance&lang=en-US&region=US&quotesCount=1&newsCount=0&enableFuzzyQuery=false&quotesQueryId=tss_match_phrase_query&multiQuoteQueryId=multi_quote_single_token_query&newsQueryId=news_cie_vespa&enableCb=true&enableNavLinks=true&enableEnhancedTrivialQuery=true
  response:
    body:
      string: '{"explains":[],"count":1,"quotes":[{"index":"47f9688f00a923f93a64179bc6dd31d4","name":"ByteDance","permalink":"bytedance","isYahooFinance":false}],"news":[],"nav":[],"lists":[],"researchReports":[],"screenerFieldResults":[],"totalTime":59,"timeTakenForQuotes":444,"timeTakenForNews":0,"timeTakenForAlgowatchlist":400,"timeTakenForPredefinedScreener":400,"timeTakenForCrunchbase":400,"timeTakenForNav":400,"timeTakenForResearchReports":0,"timeTakenForScreenerField":0,"timeTakenForCulturalAssets":0}'
    headers:
      content-type:
      - application/json;charset=utf-8
    status:
      code: 200
      message: OK
version: 1
