interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v1/finance/search?q=foo%20bar%20baz&lang=en-US&region=US&quotesCount=1&newsCount=0&enableFuzzyQuery=false&quotesQueryId=tss_match_phrase_query&multiQuoteQueryId=multi_quote_single_token_query&newsQueryId=news_cie_vespa&enableCb=true&enableNavLinks=true&enableEnhancedTrivialQuery=true
  response:
    body: {string: '{"explains":[],"count":0,"quotes":[],"news":[],"nav":[],"lists":[],"researchReports":[],"totalTime":8,"timeTakenForQuotes":405,"timeTakenForNews":0,"timeTakenForAlgowatchlist":400,"timeTakenForPredefinedScreener":400,"timeTakenForCrunchbase":400,"timeTakenForNav":400,"timeTakenForResearchReports":0}'}
    headers:
      content-type: [application/json]
      x-yahoo-request-id: [7r7cq75fjih6t]
      y-rid: [7r7cq75fjih6t]
    status: {code: 200, message: OK}
version: 1
