interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://query2.finance.yahoo.com/v1/finance/search?q=foo+bar+baz&lang=en-US&region=US&quotesCount=10&newsCount=0&enableFuzzyQuery=false&quotesQueryId=tss_match_phrase_query&multiQuoteQueryId=multi_quote_single_token_query&newsQueryId=news_cie_vespa&enableCb=true&enableNavLinks=true&enableEnhancedTrivialQuery=true
  response:
    body:
      string: '{"explains":[],"count":1,"quotes":[],"news":[],"nav":[{"navName":"Food
        Distribution","navUrl":"https://finance.yahoo.com/sectors/consumer-defensive/food-distribution"}],"lists":[],"researchReports":[],"screenerFieldResults":[],"totalTime":25,"timeTakenForQuotes":415,"timeTakenForNews":0,"timeTakenForAlgowatchlist":400,"timeTakenForPredefinedScreener":400,"timeTakenForCrunchbase":400,"timeTakenForNav":400,"timeTakenForResearchReports":0,"timeTakenForScreenerField":0,"timeTakenForCulturalAssets":0,"timeTakenForSearchLists":0}'
    headers:
      content-type:
      - application/json;charset=utf-8
      y-rid:
      - 67sjtgdjum21l
    status:
      code: 200
      message: OK
version: 1
